@tailwind base;
@tailwind components;
@tailwind utilities;

/* Utilities to hide scrollbars while allowing scrolling */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}